body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.flower {
    position: relative;
    width: 100px;
    height: 150px;
    animation: petalAnimation 5s infinite ;

}

.center {
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.petal {
    width: 50px;
    height: 100px;
    background-color: red;
    border-radius: 0 90px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 100%;
    z-index: 2;
}

.petal:nth-child(1) {
    transform: translate(-50%, -50%) rotate(0deg);
}

.petal:nth-child(2) {
    transform: translate(-50%, -50%) rotate(72deg);
}

.petal:nth-child(3) {
    transform: translate(-50%, -50%) rotate(144deg);
}

.petal:nth-child(4) {
    transform: translate(-50%, -50%) rotate(216deg);
}

.petal:nth-child(5) {
    transform: translate(-50%, -50%) rotate(288deg);
}

.stem {
    width: 20px;
    height: 120px;
    background-color: green;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
@keyframes petalAnimation {
    from{
        transform: rotate(0deg);
       }
        to{
            transform:rotate(360deg)
        }
}
.candle {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 60px;
}

.candle-holder {
    width: 10px;
    height: 30px;
    background-color: rgb(239, 191, 103);
    position: relative;
}
.wick{
    width: 1px;
    height: 10px;
    background-color: rgb(29, 24, 24);
    position: relative;
    top: -60%;
    left: 25%;
}
.flame {
    width: 10px;
    height: 20px;
    background-color: #FF4500;
    border-radius: 8px 8px 8px 8px/20px 20px 8px 8px ;
    position: absolute;
    top: -35%;
    left: 25%;
    transform: translateX(-50%);
    animation: flameAnimation 1s ease-in-out infinite ;
}

@keyframes flameAnimation {
    0% {
        transform: translateX(-50%) scaleY(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) scaleY(1.2);
        opacity: 0.7;
    }
}





