#box1 {
    height: 250px;
    width: 250px;
    border: 5px solid;
    background-color: red;
    text-align: center;
    font-size: 9em;
    animation-name: boxaagepiche,boxpiche;
    animation-duration: 5s;
    animation-iteration-count: infinite;
   
}

@keyframes boxaagepiche {
   50%{transform: translateX(500px);}
   100%{transform: translateY(500px) translateX(500px);}
}



