* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container{
    position: absolute;
    height: 850px;
    width: 850px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}